# ---------------------------------------------------
# Global ignores
# ---------------------------------------------------

# ---------------------------------------------------
# Client (SvelteKit) ignores
# ---------------------------------------------------
/front/node_modules/
/front/build/
/front/.vite/
/front/output/
/front/vercel/
/front/.env
/front/.env.*
!/front/.env.example
!/front/.env.test
!/front/.env.local

/front/vite.config.js.timestamp-*
/front/vite.config.ts.timestamp-*

# ---------------------------------------------------
# Server (Rust) ignores
# ---------------------------------------------------
/tail/target/
/tail/.env
/tail/.env.*
!/tail/.env.example
!/tail/.env.test
!/tail/.env.local
